.header,
.footer {
  background-color: #1f2937;
  font-weight: bolder;
  color: #f9faf8;
}

body {
  margin: 0px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

.left-section {
  padding-right: 10%;
}

ul {
  list-style-type: none;
  display: flex;
}

.logo {
  font-size: 25px;
}

li {
  padding: 15px 0px 15px 30px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.not-top {
  display: flex;
  padding: 25px 150px;
}

.main-img {
  width: 400px;
}

img {
  border-radius: 15px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.countries {
  display: flex;
  justify-content: space-between;
  padding: 5px 150px;
}

.country {
  width: 150px;
  text-align: center;
  padding: 0px 25px;
}

.countrystart {
  width: 150px;
  text-align: center;
  padding: 0px 25px 0px 0px;
}

.countryend {
  width: 150px;
  text-align: center;
  padding: 0px 0px 0px 25px;
}
.countries img {
  max-width: 150px;
}
.countries img:hover,
.first-button:hover,
.bubble-button:hover {
  opacity: 80%;
  cursor: pointer;
}
.third-section {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  font-style: italic;
  padding: 50px 250px;
}

figcaption {
  font-size: 20px;
  text-align: right;
}

.bubble {
  background-color: #3882f6;
  margin: 50px 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.first-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 10px;
  border: 2px solid #3882f6;
  font-size: larger;
  border-radius: 10px;
}

h6 {
  text-align: center;
}

.left-bubble {
  padding: 30px 0px;
  color: #e5e7eb;
}

h3 {
  margin: auto 0px 0px 0px;
}

.left-bubble p {
  margin: 0px;
}

.bubble-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 10px;
  border: 2px solid #f9faf8;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
}
